html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.effect-caption img {
	max-width: none;
	opacity: 1;
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	transition: opacity 0.25s, transform 0.25s;
}

.effect-caption figcaption {
	text-align: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url(images/your_transparent.png);
}




.effect-caption figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 65%;
}

.archive .effect-caption figcaption > div {
	height: 75%;
}

@media screen and (max-width: 767px) {
    .effect-caption figcaption > div {
    width: 100%;
    height: 75%;
    }
}

.effect-caption figcaption > div > span {
	position: relative;
}

.item > a {
	opacity: 1;
}

.effect-caption h3 {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.effect-caption h3 {
	color: #777;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.effect-caption h1 {
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.effect-caption:hover img
{
	opacity: .1;
}

.effect-caption:hover h3, .effect-caption:hover h1
{
	opacity:1;
}

.effect-caption:hover h3 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect-caption:hover h3 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


@media screen and (max-width: 480px) {
    .effect-caption h1, .effect-caption h3 {
    	opacity: 1;
    }
    .effect-caption h1 {
    	font-weight: 500;
    }
    .effect-caption img {
		opacity: .2;
    }
    .effect-caption h3 {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
    }
}